<% if alert.present? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="lead buffer-top buffer-bottom">
      <p class="alert"><%= alert %></p>
  </div>
  </div>
<% end %>

<h1>Доступ только по пин-коду</h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="mb-3">
    <%= label 'Пин-код', :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions">
    <%= submit_tag 'Ввод', class: 'btn btn-success' %>
    <%= link_to 'Вернуться', :back, class: 'btn btn-secondary'%>
  </div>
<% end %>


