<% if notice.present? %>
  <div class="buffer-top alert alert-success alert-dismissible" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<div class="event">
  <div class="event-info buffer-top">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background', style: "background-image: url(#{event_photo(@event)})" %>

      <div class="event-info-inner row">
        <div class="col-md-6 buffer-left">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= l @event.datetime, format: :short %></h3>
            <h3><small><%= link_to @event.address,
                                   "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
            <p><%= @event.description %></p>
          </div>
          <div class="buffer-both">
            <%= link_to t('events_page'), events_path, class: 'btn btn-secondary' %>
          </div>
          <% if current_user_can_edit?(@event) %>
            <div class="buffer-both">
              <%= link_to t('edit_event'), edit_event_path(@event), class: 'btn btn-success' %>
              <%= link_to t('delete'), event_path(@event), method: :delete, data: {confirm: t('are_you_sure')},
                          class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div id="map" style="width: auto; height: 300px"></div>
      <div class="event-photos">
        <%# Выводим все фотографии события %>
        <div class="event-photos-gallery event-photo buffer-both">
          <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
        </div>

        <%# Рисуем форму для добавления новой фотографии %>
        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      </div>

      <div class="event-comments buffer-top">
        <%= render partial: 'comments/form',
                   locals: {comment: @new_comment || @event.comments.build} %>

        <div class="buffer-both">
          <%= render partial: 'comments/comment',
                     collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-2 text-start">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4>Пойдут:</h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <% if @event.user == current_user %>
        <div>
          <h6>Вы инициатор события!</h6>
        </div>
      <% else %>
        <div class="event-subscription-form">
          <h6>Я пойду:</h6>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  ymaps.ready(init);

  function init() {
    let myMap = new ymaps.Map('map', {
      center: [44.006516, 37.617110],
        zoom: 12
    });

  // Поиск координат.
  ymaps.geocode('<%= @event.address %>>', {
    results: 1
    }).then(function (res) {
      let firstGeoObject = res.geoObjects.get(0),
        coords = firstGeoObject.geometry.getCoordinates(),
        bounds = firstGeoObject.properties.get('boundedBy');

      firstGeoObject.options.set('preset', 'islands#darkBlueDotIconWithCaption');
            // Получаем строку с адресом и выводим в иконке геообъекта.
      firstGeoObject.properties.set('iconCaption', firstGeoObject.getAddressLine());

      myMap.geoObjects.add(firstGeoObject);
      myMap.setBounds(bounds, {
        checkZoomRange: true
        });

      let myPlacemark = new ymaps.Placemark(coords, {
        iconContent: '<%= @event.title %>',
        balloonContent: '<%= @event.description %>'
      }, {
        preset: 'islands#violetStretchyIcon'
      });

      myMap.geoObjects.add(myPlacemark);
        });
    }
</script>
