<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= "#{ENV['YANDEX_MAP_API_KEY']}" %>&lang=ru_RU" type="text/javascript"></script>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" <%= link_to "BBQ", root_path %></a>
        <div class="nav justify-content-end">
          <% if user_signed_in? %>
            <li><%= link_to 'Профиль', current_user, class: 'btn btn-light' %>
              <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-light' %></li>
          <% else %>
            <li><%= link_to 'Войти', new_user_session_path, class: 'btn btn-light' %>
              <%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-light' %></li>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </div>
  </body>
</html>
